################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/WebCore/.vs/WebCore/v15/Server/sqlite3/db.lock
/WebCore/.vs/WebCore/v15/Server/sqlite3
